POSTGRES_DB=m2
POSTGRES_USER=m2_app
POSTGRES_PASSWORD=replace_with_a_local_password
FRONTEND_PORT=8081
MOCK_CITIZEN_PASSWORD=replace_with_a_local_citizen_password
MOCK_AGENT_PASSWORD=replace_with_a_local_agent_password
MOCK_AREA_RESPONSIBLE_PASSWORD=replace_with_a_local_area_password
MOCK_ADMIN_PASSWORD=replace_with_a_local_admin_password
SIMULATOR_ENABLED=false
ATTACHMENT_STORAGE_ROOT=/var/lib/m2/attachments
